# HW1

In [5]:
x= input("請輸入數字:")
len(set(x))!= len(x)

請輸入數字1112222

True

# HW2

In [1]:
while True:
    num=input("請猜出幸運數字[按q退出]:")
    if num == "q":
        break
    elif num == "8":
        print("猜出幸運數字了")
        break
    else:
        print("再接再厲喔")

請猜出幸運數字[按q退出]:8
猜出幸運數字了

# HW3

In [9]:
for i in range(1,10):
    for j in range(1,10):
        print("%d*%d=%d" % (i,j,i*j))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

# HW4

In [ ]:
a_list = [ ]
for number in range(1,6):
    if number % 2 == 1:
        a_list.append(number)

In [ ]:
a_list

# HW5

In [16]:
cells = [(row,'*',col,'=',row*col)for row in range(1,10)for col in range(1,10)]

In [20]:
for cell iin cells:
    print(cell)

(1, '*', 1, '=', 1)
(1, '*', 2, '=', 2)
(1, '*', 3, '=', 3)
(1, '*', 4, '=', 4)
(1, '*', 5, '=', 5)
(1, '*', 6, '=', 6)
(1, '*', 7, '=', 7)
(1, '*', 8, '=', 8)
(1, '*', 9, '=', 9)
(2, '*', 1, '=', 2)
(2, '*', 2, '=', 4)
(2, '*', 3, '=', 6)
(2, '*', 4, '=', 8)
(2, '*', 5, '=', 10)
(2, '*', 6, '=', 12)
(2, '*', 7, '=', 14)
(2, '*', 8, '=', 16)
(2, '*', 9, '=', 18)
(3, '*', 1, '=', 3)
(3, '*', 2, '=', 6)
(3, '*', 3, '=', 9)
(3, '*', 4, '=', 12)
(3, '*', 5, '=', 15)
(3, '*', 6, '=', 18)
(3, '*', 7, '=', 21)
(3, '*', 8, '=', 24)
(3, '*', 9, '=', 27)
(4, '*', 1, '=', 4)
(4, '*', 2, '=', 8)
(4, '*', 3, '=', 12)
(4, '*', 4, '=', 16)
(4, '*', 5, '=', 20)
(4, '*', 6, '=', 24)
(4, '*', 7, '=', 28)
(4, '*', 8, '=', 32)
(4, '*', 9, '=', 36)
(5, '*', 1, '=', 5)
(5, '*', 2, '=', 10)
(5, '*', 3, '=', 15)
(5, '*', 4, '=', 20)
(5, '*', 5, '=', 25)
(5, '*', 6, '=', 30)
(5, '*', 7, '=', 35)
(5, '*', 8, '=', 40)
(5, '*', 9, '=', 45)
(6, '*', 1, '=', 6)
(6, '*', 2, '=', 12)
(6, '*', 3, '=', 18)
(6, '*', 4, '=', 24)
(6, '*', 5, '=', 30)
(6, '*', 6, '=', 36)
(6, '*', 7, '=', 42)
(6, '*', 8, '=', 48)
(6, '*', 9, '=', 54)
(7, '*', 1, '=', 7)
(7, '*', 2, '=', 14)
(7, '*', 3, '=', 21)
(7, '*', 4, '=', 28)
(7, '*', 5, '=', 35)
(7, '*', 6, '=', 42)
(7, '*', 7, '=', 49)
(7, '*', 8, '=', 56)
(7, '*', 9, '=', 63)
(8, '*', 1, '=', 8)
(8, '*', 2, '=', 16)
(8, '*', 3, '=', 24)
(8, '*', 4, '=', 32)
(8, '*', 5, '=', 40)
(8, '*', 6, '=', 48)
(8, '*', 7, '=', 56)
(8, '*', 8, '=', 64)
(8, '*', 9, '=', 72)
(9, '*', 1, '=', 9)
(9, '*', 2, '=', 18)
(9, '*', 3, '=', 27)
(9, '*', 4, '=', 36)
(9, '*', 5, '=', 45)
(9, '*', 6, '=', 54)
(9, '*', 7, '=', 63)
(9, '*', 8, '=', 72)
(9, '*', 9, '=', 81)

# HW6

In [23]:
color = "xx"
def  iron_man_color():
    if color =="紅色":
        return("鋼鐵人的盔甲是紅色的")
    elif color =="綠色":
        return("鋼鐵人其實也可以參考浩克的顏色")
    elif color =="藍色":
        return("鋼鐵人變成藍色小精靈也不錯")
    else:
        return("好像沒那種顏色",color)
iron_man_color()

('好像沒那種顏色', 'xx')

# HW7

In [ ]:
num1 = input("number1:")
num2 = input("number2:")
function = input("sybbol(+-*/):")

def plus(n1, n2):
    return int(n1)+int(n2)
def minus(n1,n2):
    return int(n1)-int(n2)
def multiply(n1,n2):
    return int(n1)*int(n2)
def divide(n1,n2):
    return int(n1)/int(n2)
def cal():
    if function == "+":
        return plus(num1, num2)
    elif function == "-":
        return minus(num1, num2)
    elif function == "*":
        return multiply(num1, num2)
    elif function == "/":
        return divide(num1,num2)
    else:
        print("error")
cal()

# NOTE

In [ ]:
class_ntust = {
    "member1":"甘道夫",
    "member2":"亞拉岡",
    "member3":"索倫"
}

In [ ]:
class_ntust

In [4]:
class_ntust["member1"]="亞玟"

In [5]:
class_ntust

{'member1': '亞玟', 'member2': '亞拉岡', 'member3': '索倫'}

In [6]:
class_ntust2= {
    "member4":"金鋼狼",
    "member5":"暴風女",
    "member6":"X教授",     
}

In [7]:
class_ntust.update(class_ntust2)

In [8]:
class_ntust

{'member1': '亞玟',
 'member2': '亞拉岡',
 'member3': '索倫',
 'member4': '金鋼狼',
 'member5': '暴風女',
 'member6': 'X教授'}

In [9]:
first= {"a":1,"b":2}

In [10]:
second={"b":"cat"}

In [11]:
first.update(second)

In [12]:
first

{'a': 1, 'b': 'cat'}

In [13]:
del class_ntust["member1"]

In [14]:
class_ntust

{'member2': '亞拉岡',
 'member3': '索倫',
 'member4': '金鋼狼',
 'member5': '暴風女',
 'member6': 'X教授'}

In [15]:
class_ntust.clear()

In [16]:
class_ntust

{}

In [17]:
class_ntust={
    "member1":"甘道夫",
    "member2":"亞拉岡",
    "member3":"索倫"
}

In [19]:
"member1" in class_ntust

True

In [20]:
class_ntust["member1"]

'甘道夫'

In [23]:
class_ntust['aaa']

KeyError: 'aaa'

In [24]:
class_ntust={
    "member1":"甘道夫",
    "member2":"亞拉岡",
    "member3":"索倫"
}

In [25]:
class_ntust.get("member1")

'甘道夫'

In [26]:
class_ntust.get("member11","號碼錯誤喔!")

'號碼錯誤喔!'

In [27]:
x= class_ntust.get("member11")

In [28]:
x

In [29]:
class_ntust={
    "member1":"甘道夫",
    "member2":"亞拉岡",
    "member3":"索倫"
}

In [31]:
class_ntust.keys()

dict_keys(['member1', 'member2', 'member3'])

In [32]:
class_ntust.values()

dict_values(['甘道夫', '亞拉岡', '索倫'])

In [33]:
class_ntust.items()

dict_items([('member1', '甘道夫'), ('member2', '亞拉岡'), ('member3', '索倫')])

In [34]:
class_ntust_new = class_ntust

In [35]:
class_ntust_new

{'member1': '甘道夫', 'member2': '亞拉岡', 'member3': '索倫'}

In [36]:
class_ntust["member1"] = "金庸"

In [37]:
class_ntust

{'member1': '金庸', 'member2': '亞拉岡', 'member3': '索倫'}

In [38]:
class_ntust_new

{'member1': '金庸', 'member2': '亞拉岡', 'member3': '索倫'}